body {
  margin: auto !important;
  text-align: center !important;
  background-color: lightblue !important;
}

h1 {
  margin-top: 50px !important;
}

table {
  margin-top: 50px;
  text-align: center;
  background: #333;
  color: #fff !important;
}

#show th,
#show td {
  padding: 13px;
}

#btna td {
  width: 100%;
}

input {
  width: 300px !important;
}

#btn {
  width: 100% !important;
  font-weight: 700;
  opacity: 0.5;
}

#btn:hover {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  body {
    height: auto;
  }
  #show th,
  #show td {
    padding: 13px 0 13px 0;
  }
}
